html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.slider-wrapper {
  position: relative;
  /* width: 20rem; */
  /* display: flex; */
}

.slider-wrapper .progress-bar {
  position: relative;
  background: hsl(0, 30%, 40%);
  width: 100%;
  height: 5px;
  border-radius: 15rem;
}

.slider-wrapper .progress-bar .progress-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: red;
  border-radius: inherit;
}

.slider-wrapper .progress-bar .thumb {
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: -13px;
  left: 0;
  border-radius: 50%;
  cursor: pointer;
  /* transition: transform 0.3s ease; */
  background: hsl(0, 100%, 50%);
  transform: scale(1);
  /* cursor: */
}

.slider-wrapper .progress-bar .thumb:hover {
  background: hsl(0, 100%, 70%);
}

/* .slider-wrapper .progress-bar .thumb::before {
  content: attr(data-range);
  position: absolute;
  background: #fff;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.4rem 1rem;
  border-radius: 8px;
  box-shadow: -1px 3px 10px 1px rgba(0, 0, 0, 0.1);
} */

.slider-wrapper .progress-bar .thumb .range-box {
  position: absolute;
  /* height: 2rem; */
  /* width: 3rem; */
  background: #fff;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.4rem 1rem;
  border-radius: 8px;
  box-shadow: -1px 3px 10px 1px rgba(0, 0, 0, 0.1);
}

.slider-wrapper .progress-bar .thumb .range-box::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  /* background: red; */
  transform: rotate(45deg) translateX(-50%);
  bottom: -7px;
  left: 50%;
  background: #fff;
}

.slider-wrapper .progress-marker {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.slider-wrapper .progress-marker .marker {
  position: absolute;
  height: 1rem;
  width: 1px;
  background: #bbb;
}

/* .slider-wrapper .progress-bar .thumb:hover {
  transform: scale(0.8);
} */

.active {
  background: green;
  transform: scale(0.8);
}

.output-txt {
  position: absolute;
}

.default-range {
  margin-top: 5rem;
}

.output-led {
  margin-top: 5rem;
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
}

.btn-grp {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}

.led-btn {
  padding: 0.6rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #f4f4f4;
}

.led-btn.red {
  background: hsl(360, 80%, 50%);
}
.led-btn.green {
  background: hsl(140, 70%, 50%);
}
.led-btn.blue {
  background: hsl(230, 80%, 50%);
}
